@import url('satoshi.css') layer(base);
@import 'tailwindcss';

@theme {
  --color-background: var(--bg-dark);
}

/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}

:root {
  --bg-dark: oklch(0.1 0.015 211);
--bg: oklch(0.15 0.015 211);
--bg-light: oklch(0.2 0.015 211);
--text: oklch(0.96 0.03 211);
--text-muted: oklch(0.76 0.03 211);
--highlight: oklch(0.5 0.03 211);
/* --border: oklch(0.4 0.03 211);
--border-muted: oklch(0.3 0.03 211);
--primary: oklch(0.76 0.1 211);
--secondary: oklch(0.76 0.1 31);
--danger: oklch(0.7 0.05 30);
--warning: oklch(0.7 0.05 100);
--success: oklch(0.7 0.05 160);
--info: oklch(0.7 0.05 260); */

}

@media (prefers-color-scheme: light) {
  :root {
    --bg-dark: oklch(0.92 0.015 211);
--bg: oklch(0.96 0.015 211);
--bg-light: oklch(1 0.015 211);
--text: oklch(0.15 0.03 211);
--text-muted: oklch(0.4 0.03 211);
--highlight: oklch(1 0.03 211);
/* --border: oklch(0.6 0.03 211);
--border-muted: oklch(0.7 0.03 211);
--primary: oklch(0.4 0.1 211);
--secondary: oklch(0.4 0.1 31);
--danger: oklch(0.5 0.05 30);
--warning: oklch(0.5 0.05 100);
--success: oklch(0.5 0.05 160);
--info: oklch(0.5 0.05 260); */

  }
}

/* Hide scrollbar for Chrome, Safari and Opera */
::-webkit-scrollbar {
  display: none;
}

body {
  background: var(--bg-dark);
  font-family: "Satoshi-Medium", sans-serif;

  /* Hide scrollbar for IE, Edge and Firefox */
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

* {
  color: var(--text);
}
/* button {
  background: var(--bg-light);
  color: var(--text);
  font-weight: 700;
} */