@import url('satoshi.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* TODO: not updated for light mode */
:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #09222f;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Satoshi-Medium";
}
